.footer{
    background-color: #ffb9b9;
    justify-content: space-between;
}

.footer-content {
    color: white;
    margin-right: 10px;
}


.social-icons {
    display: flex;
}

.social-icon {
    color: white;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
}

.social-icon:hover {
    color: #007bff; /* Cor de destaque ao passar o mouse */
}